Sprint 0/Content/obj/DesktopGL/Content/smb_mario_sheet.mgcontent
Sprint 0/Content/obj/DesktopGL/Content/Font.mgcontent
Sprint 0/Content/bin/DesktopGL/Content/Font.xnb
Sprint 0/bin/Debug/netcoreapp3.1
Sprint 0/obj/Debug/netcoreapp3.1
Sprint 0/obj
.vs/Sprint 0/xs
Sprint 0/Content/obj/DesktopGL/Content/LinkSpriteSheet.mgcontent
Sprint 0/Content/obj/DesktopGL/Content/.mgstats
.DS_Store
Sprint 0/Content/obj/DesktopGL/Content/OverworldTileset.mgcontent
Sprint 0/Content/obj/DesktopGL/Content/DungeonTileset.mgcontent
Sprint 0/obj/Debug/netcoreapp3.1
Sprint 0/bin
Sprint 0/Content/obj/DesktopGL/Content
Sprint 0/bin/Debug/netcoreapp3.1
Sprint 0/obj/Debug/netcoreapp3.1

Sprint 0/obj
.vs/3902-Project/v16/.suo
.vs/Sprint 0/v16/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite